@import "tailwindcss";

@theme {
    --color-black-800: #131313;

    --color-gray-700: #373737;
    --color-gray-300: #9d9d9d;
    --color-gray-200: #c1c1c1;

    --color-blue-800: #003ba7;
    --color-blue-200: #66b0ff;

    --color-green-700: #88ff00;

    --color-dark-green-500: #42ba48;
}
